<h2>マイページ</h2>

<h4>登録情報 <%= link_to "編集する", customer_customer_edit_path, class: 'btn btn-success' %> </h4>

<table class="table table-borderd border border-dark" style="width: 40%">
  <tr>
    <th class="table-secondary">氏名</th>
    <td><%= @customer.first_name %> <%= @customer.last_name %></td>
  </tr>
  <tr>
    <th class="table-secondary">カナ</th>
    <td><%= @customer.first_kana %> <%= @customer.last_kana %></td>
  </tr>
  <tr>
    <th class="table-secondary">郵便番号</th>
    <td><%= @customer.postal_code %></td>
  </tr>
  <tr>
    <th class="table-secondary">住所</th>
    <td><%= @customer.address %></td>
  </tr>
  <tr>
    <th class="table-secondary">電話番号</th>
    <td><%= @customer.tel_number %></td>
  </tr>
  <tr>
    <th class="table-secondary">メールアドレス</th>
    <td><%= @customer.email %></td>
  </tr>
</table>

<h4>配送先 　<%= link_to "一覧を見る", customer_addresses_path, class: "btn btn-sm-10 btn-primary" %></h4>

<h4>注文履歴 <p class="btn btn-sm-10 btn-primary">一覧を見る</p></h4>

<h4 class="btn btn-success">パスワード変更</h4>