<h2>ログイン</h2>
　　<h4>会員の方はこちらからログイン</h4>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<form>
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">メールアドレス</label>
    <div class="col-sm-10">
    　　　　<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">パスワード
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %>
    </label>
    <div class="col-sm-10">
  　　　　<%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
    　　<%= f.submit "ログイン", class: "btn btn-sm-10 btn-primary" %>
    </div>
  </div>

<% end %>
</form>

<%= render "customer/shared/links" %>
