<div class="contaner">

  <h2>注文履歴詳細</h2>
  <div class="row col-md-8">
    <h3>購入者</h3>
    <div class="col-sm-10"><%= @order.customer.first_name %><%= @order.customer.last_name %></div>
  </div>
  <div class="row col-md-8">
    <h3>注文日</h3>
    <div class="col-sm-10"><%= @order.created_at %></div>
  </div>
  <div class="row col-md-8">
    <h3>配送先</h3>
    <div class="col-sm-10"><%= @order.shipping_address_display %></div>
  </div>
  <div class="row col-md-8">
    <h3>支払方法</h3>
    <div class="col-sm-10"><%= @order.method_i18n %></div>
  </div>
  <div class="row col-md-8">
    <h3>注文ステータス</h3>
    <div class="col-sm-10">
      <%= form_with model: @order, url: admin_orders_update_path, method: :patch do |f| %>
        <%= f.select :order_status, *[Order.order_statuses.keys], { selected: @order.order_status_i18n } %>
        <%= f.submit "更新", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>

  <div class="row">
  <table class="table table-bordered" style="width: 70%">
    <thead>
      <tr class="table-secondary">
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th>製作ステータス</th>
      </tr>
    </thead>
    <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.item.name %></td>
        <td><%= order_item.item.with_tax_price %></td>
        <td><%= order_item.quantity %></td>
        <td><%= order_item.subtotal_order %></td>
        <td>
          <%= form_with model: @orderdetail, url: admin_orderdetails_path(order_item), method: :patch do |f| %>
            <%= f.select :productiion_status, *[OrderDetail.production_statuses.keys], { selected: order_item.production_status_i18n } %>
            <%= f.submit "更新", class: 'btn btn-success' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <table style="width: 20%">
    <tbody>
      <tr>
        <td>送料</td>
        <td><%= @order.postage %></td>
      </tr>
      <tr>
        <td>合計金額</td>
        <td><%= @total.round.to_s(:delimited)%></td>
      </tr>
      <tr>
        <td>請求金額</td>
        <td><%= (@order.postage+@total).round.to_s(:delimited) %></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>