<h2>配送先編集</h2>
<% if @address.errors.any? %>
  <%= @address.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @address.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model:@address, url: customer_address_path, local: true do |f| %>

<div class="row mb-3">
  <label class="col-sm-2 col-form-label">郵便番号（ハイフンなし）</label>
  <div class="col-sm-10">
  <%= f.text_field:postal_code, autofocus: true, autocomplete: "postal_code" %>
  </div>
</div>

<div class="row mb-3">
  <label class="col-sm-2 col-form-label">住所</label>
  <div class="col-sm-10">
  <%= f.text_field:address, autofocus: true, autocomplete: "address" %>
  </div>
</div>

<div class="row mb-3">
  <label class="col-sm-2 col-form-label">宛名</label>
  <div class="col-sm-10">
  <%= f.text_field:name, autofocus: true, autocomplete: "name" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-sm-10">
  <%= f.submit "変更内容を保存", class: 'btn btn-success' %>
  </div>
</div>

<% end %>