<h2>配送先登録/一覧</h2>
<%= render 'layouts/error', obj:@address %>
<%= form_with model:@address, url: customer_addresses_path do |f| %>

<div class="row mb-3">
  <label class="col-sm-2 col-form-label">郵便番号（ハイフンなし）</label>
  <div class="col-sm-10">
  <%= f.text_field:postal_code, autofocus: true, autocomplete: "postal_code" %>
  </div>
</div>

<div class="row mb-3">
  <label class="col-sm-2 col-form-label">住所</label>
  <div class="col-sm-10">
  <%= f.text_field:address, autofocus: true, autocomplete: "address" %>
  </div>
</div>

<div class="row mb-3">
  <label class="col-sm-2 col-form-label">宛名</label>
  <div class="col-sm-10">
  <%= f.text_field:name, autofocus: true, autocomplete: "name" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-sm-10">
  <%= f.submit "新規登録", class: 'btn btn-success' %>
  </div>
</div>

<% end %>
<div class="container">
  <div class="row">
    <table class="table table-bordered" style="width: 80%">
    <thead>
      <tr class="table-secondary">
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td>
          <%= link_to "編集する", edit_customer_address_path(address), class: 'btn btn-success' %>
          <%= link_to "削除する", customer_path(address), method: :delete, class: 'btn btn-danger', "data-confirm" => "本当に削除しますか？" %>
        </td>
      </tr>
    <% end %>
    </tbody>
    </table>
  </div>
</div>